<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://niknak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://waws-prod-db3-001.ftp.azurewebsites.windows.net/site/wwwroot</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>niknak\$niknak</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/NikNak.dll">
      <publishTime>06/20/2012 15:06:22</publishTime>
    </File>
    <File Include="bin/Ninject.dll">
      <publishTime>06/20/2012 13:25:19</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.dll">
      <publishTime>06/20/2012 13:25:20</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Common.xml">
      <publishTime>06/20/2012 13:25:20</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.dll">
      <publishTime>06/20/2012 13:25:20</publishTime>
    </File>
    <File Include="bin/Ninject.Web.Mvc.xml">
      <publishTime>06/20/2012 13:25:20</publishTime>
    </File>
    <File Include="bin/Ninject.xml">
      <publishTime>06/20/2012 13:25:19</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>06/18/2012 14:48:36</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>06/18/2012 14:48:36</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>06/18/2012 14:48:36</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>06/18/2012 14:48:36</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>06/18/2012 14:48:36</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>06/18/2012 14:48:36</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>06/18/2012 14:48:37</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>06/20/2012 13:25:20</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.css">
      <publishTime>06/18/2012 15:24:09</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.min.css">
      <publishTime>06/18/2012 15:24:09</publishTime>
    </File>
    <File Include="Content/bootstrap.css">
      <publishTime>06/18/2012 15:24:09</publishTime>
    </File>
    <File Include="Content/bootstrap.min.css">
      <publishTime>06/18/2012 15:24:09</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings-white.png">
      <publishTime>06/18/2012 15:24:08</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings.png">
      <publishTime>06/18/2012 15:24:09</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/18/2012 14:48:36</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>06/20/2012 13:25:26</publishTime>
    </File>
    <File Include="Scripts/bootstrap.js">
      <publishTime>06/18/2012 15:24:08</publishTime>
    </File>
    <File Include="Scripts/bootstrap.min.js">
      <publishTime>06/18/2012 15:24:08</publishTime>
    </File>
    <File Include="Scripts/exporting.js">
      <publishTime>06/20/2012 11:32:29</publishTime>
    </File>
    <File Include="Scripts/highcharts.js">
      <publishTime>06/20/2012 11:32:16</publishTime>
    </File>
    <File Include="Scripts/NikNak.js">
      <publishTime>06/20/2012 15:06:01</publishTime>
    </File>
    <File Include="Views/Data/Index.cshtml">
      <publishTime>06/20/2012 14:44:46</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>06/18/2012 16:21:48</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>06/20/2012 11:32:41</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>06/19/2012 15:50:55</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>06/18/2012 15:33:19</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/20/2012 15:06:28</publishTime>
    </File>
  </ItemGroup>
</Project>