@{
    ViewBag.Title = "title";
}

<div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>I'm hoping to be able to retrieve fitbit.com feeds as well as xceed feeds in order to combine then into a simple graph.</p>
    <p><a class="btn btn-primary btn-large" href="@Url.Action("Index", "Data")">Show me the data »</a></p>
</div>