@model NikNak.ViewModels.FitBitDataViewModel

@{
    ViewBag.Title = "title";
}

<h2>Data feed from fitbit</h2>

<h3>User: @Model.UserName</h3>
@foreach(var dataItem in Model.Activities)
{
    <p>Date: @dataItem.Date | ActivityType: @dataItem.ActivityTypeName</p>
}


<a class="btn btn-primary btn-large" id="change-chart-type" href="#">Change Chart Type »</a>

<div id="chart-area" class="row">
    <div id="chart-container"></div>
</div>

